html, body{
    font-size: 15px;
}

section#content{
    padding-top: 1rem;
}

h1{
    a,
    a:hover{
        text-decoration: none;
    }
}

img{
    max-width: 100%;
    height: auto;
}

.error-container{
    min-height: 60vh;
    h1{
        font-size: 5rem;
    }
}