html, body{
    font-size: 15px;
}

body{
    font-family: $font-family-sans-serif;
}

section#content{
    padding-top: 1rem;
}

h1{
    a,
    a:hover{
        text-decoration: none;
    }
}

h1, .h1, h2, .h2, h3, .h3{
    font-family: $font-family-serif;
}

img{
    max-width: 100%;
    height: auto;
}

.error-container{
    min-height: 60vh;
    h1{
        font-size: 5rem;
    }
}