<!-- Copyright {{"now"|date('Y')}} -->

<div class="socials">
    <a target="_blank" href="https://instagram.com/jasmine.lorimer" class="instagram"><i class="fa fa-instagram"></i><span class="sr-only">instagram</span></a>
    <a target="_blank" href="https://twitter.com/jazlor1" class="twitter"><i class="fa fa-twitter"></i><span class="sr-only">twitter</span></a>
    <a target="_blank" href="https://www.youtube.com/channel/UCc6MemdlxFOQybEjitYuDsg" class="youtube"><i class="fa fa-youtube-play"></i><span class="sr-only">youtube</span></a>
</div>